/***
  Buttons
***/

// Explore Button on Home Page

.lg-button {
  background-color: hsl(var(--color-white));
  color: hsl(var(--color-dark));
  font-family: var(--font-serif-regular);
  font-size: 2rem; /* 32px */
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  height: 274px;
  width: 274px;
  border-radius: 50%;
  margin: 75px;
  position: relative;
  display: inline;
  text-align: center;
  transition: all 0.2s ease;
}

.lg-button:hover {
  box-shadow: 0px 0px 0px 75px hsla(0, 0%, 100%, 0.25);
  transition: all 0.2s ease;
}

// Mini Nav on Destination Page

.mini-nav {
  display: flex;
  justify-content: center;
  height: 30px;
  gap: 30px;
  margin: 0 0 0 280px;
}

.mini-nav__item {
  color: hsl(var(--color-light));
  font-family: var(--font-sans-condensed);
  font-size: var(--fs-sm);
  text-transform: uppercase;
  letter-spacing: 2.27px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0 0 0 0;
}

.mini-nav__item:active,
.mini-nav__item:focus {
  color: hsl(var(--color-white));
  border-bottom: 3px solid hsl(var(--color-white));
  transition: all 0.2s ease;
}

.mini-nav__item:hover {
  color: hsl(var(--color-light));
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
  transition: all 0.2s ease;
}

@media (max-width: 64em /* 1024px */) {
  .mini-nav {
    margin: 20px 0 20px 0;
  }
}

@media (max-width: 46em /* 740px */) {
}

// Dot Buttons on Crew Page

.xs-button {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.25);
  transition: all 0.2s ease;
}

.xs-button:active,
.xs-button:focus {
  background-color: hsl(var(--color-white));
  transition: all 0.2s ease;
}

.xs-button:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
  transition: all 0.2s ease;
}

// Numbered Buttons on Technology Page

.sm-button {
  color: hsl(var(--color-dark));
  font-size: var(--fs-lg);
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 20px 0 0 0;
  text-align: center;
  background-color: transparent;
  color: hsl(var(--color-white));
  border: 1.5px solid hsla(0, 0%, 100%, 0.25);
  transition: all 0.2s ease;
}

.sm-button:active,
.sm-button:focus {
  background-color: hsl(var(--color-white));
  color: hsl(var(--color-dark));
  transition: all 0.2s ease;
}

.sm-button:hover {
  background-color: transparent;
  color: hsl(var(--color-white));
  border: 1.5px solid hsl(var(--color-white));
  transition: all 0.2s ease;
}
