/***
  Home
***/

.home-grid__container {
  min-height: calc(100vh - 116px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: end;
}

// .home-grid__container * {
//   max-width: 61ch;
// }

.home-grid__container-item-1 {
  grid-area: 1 / 1 / 2 / 2;
  place-self: end center;
  margin: 0 0 100px 100px;
}

.home-grid__container-item-2 {
  grid-area: 1 / 2 / 2 / 3;
  place-self: end;
  margin: 0 75px 25px 0;
}

@media (max-width: 64em /* 1024px */) {
  .home-grid__container {
    min-height: calc(100vh - 116px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  .home-grid__container-item-1 {
    grid-area: 1 / 1 / 2 / 2;
    place-self: center;
    margin: 0 200px 0 200px;
  }

  .home-grid__container-item-2 {
    grid-area: 2 / 1 / 3 / 2;
    place-self: center;
    margin: 0 0 25px 0;
  }
}

@media (max-width: 46em /* 740px */) {
  .home-grid__container {
    grid-template-columns: 100%;
  }

  .home-grid__container-item-1 {
    margin: 0 20px 0 20px;
    // margin: 0 0 0 0;
  }

  .home-grid__container-item-2 {
    margin: 0 0 0 0;
  }
}
