@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=Bellefair&display=swap');

/***
  Variables
***/

:root {
  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;
  --font-sans-regular: 'Barlow', sans-serif;
  --font-sans-condensed: 'Barlow Condensed', sans-serif;
  --font-serif-regular: 'Bellefair', serif;
  --fs-xs: 0.875rem; /* 14px */
  --fs-sm: 1rem; /* 16px */
  --fs-reg: 1.125rem; /* 18px */
  --fs-med: 1.75rem; /* 28px */
  --fs-lg: 2rem; /* 32px */
  --fs-xl: 3.5rem; /* 56px */
  --fs-2xl: 6.25rem; /* 100px */
  --fs-3xl: 9.375rem; /* 150px */
}

@media (max-width: 64em /* 1024px */) {
  :root {
    --fs-lg: 1.75rem;
    --fs-xl: 2rem;
    --fs-2xl: 3.5rem;
  }
}

@media (max-width: 46em /* 740px */) {
  :root {
    --fs-lg: 1rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 3.5rem;
    --fs-3xl: 5rem;
  }
}
